@model GoContributeMe.Models.ViewModel.ContactUsUserViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | GoContributeMe</title>
    <meta name="Description" content="GoContributeMe is a crowdfunding platform that allows people in some but not all countries to raise money for events ranging from life events such as celebrations and graduations to challenging circumstances like accidents and illnesses">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/PopUpWindo.css" rel="stylesheet" />
    <link href="~/Content/RegisterForm.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
    @RenderSection("CSSFileBodyNeeded", required: false)

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GoContributeMe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("How It Works", "About", "Home")</li>
                    <li>@Html.ActionLink("Help", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>


    </div>
<div class="container body-content">
    @RenderBody()
    

    <hr />
    <footer style="" class="">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footerText">
                    <h3>Get Started</h3>
                    @Html.ActionLink("How It Works", "About", "Home", null, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Pricing and Fees", "Index", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Common Questions", "Contact", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Success Stories", "Index", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Sign Up Now", "Register", "Account", new { area = "" }, new {@class="", @id = "" })<br />
                    <h3>Connect with us</h3>
                    <a href="https://www.twitter.com/" target="_blank">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.rss.com/" target="_blank">
                        <i class="fa  fa-rss fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footerText">
                    <h3>Learn More</h3>
                    @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("The GoContributeMe Blog", "Index", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Press", "Index", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Fundraising Ideas", "About", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("We're Hiring!", "Index", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    <h3>Co-Worker</h3>
                    <a href="http://www.bing.com/" target="_blank">
                        <img src="/Image/microsoft.png" alt="microsoft bangladesh" style="width: 200px; height: 60px; border: 0;">
                        <!--Microsoft Logo-->
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = " ", @class = "form-horizontal" }))
                    {
                        <h3 style="font-family: italic;">Contact Us</h3>
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(x => x.ContactUs.Name, new {@class = "form-control", placeholder = "Name"})
                                </div>
                                @Html.ValidationMessageFor(a => a.ContactUs.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.TextBoxFor(x => x.ContactUs.Email, new {@class = "form-control", @placeholder = "Email"})
                                </div>
                                @Html.ValidationMessageFor(a => a.ContactUs.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    @Html.TextAreaFor(x => x.ContactUs.Description, new {@class = "form-control", @placeholder = "Description"})
                                </div>
                                @Html.ValidationMessageFor(a => a.ContactUs.Description)
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class=" col-md-2">
                            </div>
                            <div class="form-group col-md-8 " style="padding:0;">
                                <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>
                    }
                </div>
             
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 footerText">
                    <h3>Support</h3>
                    @Html.ActionLink("Ask a Question", "Contact", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Help Center", "Contact", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    @Html.ActionLink("Supported Countries", "About", "Home", new { area = "" }, new { @class = "", @id = "" })<br />
                    <a href="http://shohag.azurewebsites.net/" target="_blank">Developer</a>
                 
                    <h3>Payment</h3>
                    <i class="fa fa-cc-paypal fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-cc-amex fa-2x " aria-hidden="true"></i>
                    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container footer col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style=" height: 60px; padding-top: 4px  !important;">
                <div class="footer-top col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 col-xl-5 footer-left" style="padding-top: 10px !important;">
                        @using (Html.BeginForm("About", "Home", FormMethod.Post, new { id = " ", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.EditorFor(a => a.Subscriber.Email, new { htmlAttributes = new { @style = "color:white;", @placeholder = "Enter Your Email" } })
                            
                            <input type="submit" value="Subscribe">
                        }
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-xl-7 footer-right" style="padding-top:6px !important;">
                        <p class="textColor" style="padding-right: 96px; color: white;">&copy; @DateTime.Now.Year -Copyright GoContributeMe. All Rights Reserved | Design by - @*@Html.ActionLink("SHSA", "Index", "Home", null, new { @class = "textColor" })*@
                            <a href="https://www.facebook.com/mdshohagmiaornob/" target="_blank">SHSA</a>
                                 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {


        });

    </script>


    @RenderSection("scripts", required: false)
</body>
</html>
